*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
   display: flex;
    background-color:cornflowerblue;
    height: 50px;
}
nav{
    
    height: 30px;
    width: 850px;
    background-color:gold;
    margin-top: 10px;
    margin-left: 300px;
    border: dotted black;
}
.container2{
    background-color: blue;
    height: 400px;
}
.rettangolo-rosa{
    height: 150px;
    width: 500px;
    background-color:mediumorchid;
    margin-left: 470px;
   
}
 